*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --white: #FFFFFF;
    --blue: #0a5afc;
    --black: #403f3f;
    --silver: #C7C5B8;
    --orange: #FF9900;
    --red: #FF0000;
    --pink: #f10ead;

}

/*== Global styling ==*/
body{
    cursor:pointer;
    background: var(--black);
}


table {
    color:var(--white);
    text-align: center;
    border-collapse: collapse;
    font: normal 3em monospace;
    

}
tr{
   height: 16.02vh;
   background: var(--black);

}
td{
 width: 25vw;
 border:1px solid black;
}

#input-box{
    width: 100%;
    font:bolder;
    font-size: 1.7em;
    color: var(--white);
    background: var(--black);
    
}

/* == BUTTONS == */
.digitalBtn{
    background:#403f3f;
}

.digitalBtn:hover{
    background: #828080;
}

.operatorBtn{
    background-color: var(--orange);
    color: var(--white);
}
.operatorBtn:hover{
    background-color:#f3b250;
}
.ACBtn{
    background: var(--red);
}
.ACBtn:hover{
    background: #f45555;
}
.btn{
    background: #2a2929;
}
.btn:hover{
    background-color:var(--black);
}
.equalsBtn{
    background: #e76800;
}
.equalsBtn:hover{
    background:var(--orange);
}



